body{
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;
    margin:0;
    font-family:'Poppins';
}
header{
    margin-top:50px;
    background:rgba(141,165,169,0.13);
    padding-top:1px;
    padding-bottom:1px;
}
nav ul{
    list-style: none;
    text-align:right;
}
nav ul li{
    display:inline-block;
    padding-left:15px;
    padding-right:15px;
}
.container{
    width:30%;
    margin:auto;
}
button{
    background:#f9eea6;
    border:0;
    padding: 5px 15px;
    font-family: 'Montserrat';
    font-weight:600;
}
p{
    font-weight:300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1,h2{
    margin:0;
}
h1{
    font-size:75px;
}
h2{
    color:#7d9498;
}
.title, .home-text{
margin-top:75px;
}